<div id="loading" class="col-md-12 center-block" *ngIf="loading">
  <h3 class="text-center">Chargement des unités de descriptions</h3>
  <md-spinner style="margin:0 auto;" mode="indeterminate"></md-spinner>
</div><!--loading-->

<div id="loaded" *ngIf="!loading">
  <h3 class="text-center">Unités de descriptions</h3>

  <h4 class="text-center">
    {{currentMunicipalityVersion ? (currentMunicipalityVersion.name | uppercase) : ''}},
    {{currentMunicipalityVersion ? currentMunicipalityVersion.canton : ''}},
    {{currentMunicipalityVersion ? currentMunicipalityVersion.district : ''}}
  </h4>

  <div class="row">

    <div id="filters" class="col-md-3">
      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseFilters" class="toggle">Filtres</a>
            </h4>
          </div>
          <div id="collapseFilters" class="panel-collapse collapse in">
            <div class="panel-body">
              <form #filterForm class="form-horizontal">
                <label class="control-label">Histoire</label>
                <div class="checkbox" *ngFor="let element of historyCheckBoxField">
                  <label>
                    <input
                      type="checkbox"
                      value="element.name"
                      checked
                      (change)="onChangeFilter(startDate.value, endDate.value, element, $event)">
                     {{element}}
                  </label>
                </div>

                <hr>

                <label class="control-label">Période</label>
                <div class="input-group">
                  <select
                    id="start-date"
                    class="form-control"
                    #startDate
                    (change)="onChangeFilter(startDate.value, endDate.value, element, $event)">
                    <option>Début</option>
                    <option>Sans date</option>
                    <option
                      *ngFor="let year of startPeriod"
                      [ngValue]="year">
                      {{year}}</option>
                  </select>
                  <span class="input-group-addon">-</span>
                  <select
                    id="end-date"
                    class="form-control"
                    #endDate
                    (change)="onChangeFilter(startDate.value, endDate.value, element, $event)">
                    <option>Fin</option>
                    <option>Sans date</option>
                    <option
                      *ngFor="let year of endPeriod"
                      [ngValue]="year">
                      {{year}}</option>
                  </select>
                </div>

                <div *ngIf="invalidPeriod" class="text-center" style="margin: 5px">
                  <p class="alert alert-danger">{{invalidPeriodMessage}}</p>
                </div>

                <hr>

                <div align="center">
                  <a class="btn btn-info"
                  (click)="filterForm.reset();
                    onChangeFilter(startDate.value, endDate.value, element, $event);">
                    <!--municipalitiesTable.gtClearFilter();-->
                    Réinitialitiser les filtres
                  </a>
                </div>
              </form>
            </div>
            <!--<div class="panel-footer"></div>-->
          </div>
        </div>
      </div>
      <div class="row"><div class="col-md-12"><br></div></div>
    </div>

    <!--<div id="result-table" class="col-md-9">

      <div class="row">
        <div class="col-md-7">
          <gt-table-info
            class="form-text text-muted mb-2"
            [genericTable]="archivalResourcesTable"></gt-table-info>
        </div>
        <div class="col-md-3 col-md-offset-2 text-right">
          <select
            id="rows"
            #rowLength
            (change)="archivalResourcesTable.changeRowLength(rowLength.value)"
            style="width: 50px">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>

          par page
        </div>
      </div>

      <generic-table
        [gtSettings]="configObject.settings"
        [gtFields]="configObject.fields"
        [gtData]="configObject.data"
        #archivalResourcesTable
        [gtOptions]="{highlightSearch:true}"></generic-table>

      <div class="text-center">
        <gt-pagination
          [gtClasses]="'pagination-sm justify-content-center'"
          [genericTable]="archivalResourcesTable"></gt-pagination>
      </div>
    </div>-->

  </div><!--row-->

  <div class="row">

    <div id="history" class="col-md-6">

      <div class="panel-group" >
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseHistory" class="toggle">Histoire</a>
            </h4>
          </div>
          <div id="collapseHistory" class="panel-collapse collapse in">
            <div class="panel-body">
              <div >
                <p>
                  <b>{{currentMunicipalityVersion.name | uppercase}}</b>,
                  {{currentMunicipalityVersion.canton}},
                  {{currentMunicipalityVersion.district}}
                </p>
                <p>Statut : {{currentMunicipalityVersion.state}}</p>
                <p>
                  Admission :
                  {{currentMunicipalityVersion.admissionMutation.date }}
                  {{currentMunicipalityVersion.admissionMutation.mutationLabel}}
                </p>
                <p *ngIf="currentMunicipalityVersion.id != active.id">
                  Radiation :
                  {{currentMunicipalityVersion.abolitionMutation ? currentMunicipalityVersion.abolitionMutation.date : ''}}
                  {{currentMunicipalityVersion.abolitionMutation ? currentMunicipalityVersion.abolitionMutation.mutationLabel : ''}}
                </p>
                <table class="table" *ngIf="history">
                  <tr *ngIf="active.id != currentMunicipalityVersion.id">
                    <td>{{active.name}}</td>
                    <td>{{active.admissionMutation.date}}</td>
                    <td>Commune active</td>
                    <td>
                      <a
                        class="btn btn-primary btn-circle"
                        (click)="router.navigate(['/municipalities/', active.id, 'archival-resources'])">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </td>
                  </tr>
                  <tr *ngFor="let element of history">
                    <td>{{ element.name }} </td>
                    <td>{{ element.date }} </td>
                    <td>{{ element.mutation }} </td>
                    <td>
                      <a
                        class="btn btn-primary btn-circle"
                        (click)="router.navigate(['/municipalities/', element.id, 'archival-resources'])">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <!--<div class="panel-footer"></div>-->
          </div>
        </div>
      </div>
    </div>

    <div id="map" class="col-md-6" *ngIf="mapActive">

      <div class="panel-group" >
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseMap" class="toggle">Carte</a>
            </h4>
          </div>
          <div id="collapseMap" class="panel-collapse collapse in">
            <div class="panel-body">
              <div >
                <iframe
                  [src]='sanitizer.bypassSecurityTrustResourceUrl(mapUrl)'
                  width="500px"
                  height="300px"
                  frameborder='0'
                  style='border:0'></iframe>
              </div>
            </div>
            <!--<div class="panel-footer"></div>-->
          </div>
        </div>
      </div>
      <div class="row"><div class="col-md-12"><br></div></div>


    </div>

  </div><!--row-->
</div><!--loaded-->


