.panel-heading .toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
}
.panel-heading .toggle.collapsed:after {
  content: "\e080";
}

.control-label {
  font-size: medium;
  font-weight: bold;
}

.panel-title {
  font-weight: bold;
}

/*Round button*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
