<div class="container-fluid text-left">
<!--
  <div class="col-sm-4 text-center" style="background-color: #555555">
    test
  </div>
-->

  <div class="col-sm-12 text-left">
    <h3 class="text-center">Liste des communes</h3>

    <div class="center-block" *ngIf="loading">
      <md-spinner style="margin:0 auto;" mode="indeterminate"></md-spinner>
    </div>

    <div *ngIf="!loading">
      <p>{{ options.length }} communes sur {{ options.length }}</p>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nom de la commune</th>
          <th>District</th>
          <th>Canton</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let option of options">
          <td>{{option.name}}</td>
          <td>{{option.district}}</td>
          <td>{{option.canton}}</td>
          <td>
            <button
              md-raised-button
              [routerLink]="['/municipalities/', option.id, 'archival-resources']">
              Voir les UD
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

