
<div class="row text-center" style="padding-top: 30px; padding-bottom: 30px;">
  <div class="col-md-12">
    <h2>
      <span>Retrouvez votre commune</span>
      <br>
      <span>dans les Archives fédérales suisses</span>
    </h2>
  </div>
</div>

<div class="row" style="padding-top: 30px; padding-bottom: 30px;">
  <div class="col-md-12">
    <md-input-container *ngIf="true">
      <input
        mdInput placeholder="Commune"
        size="40px"
        [mdAutocomplete]="tdAuto"
        [(ngModel)]="currentMunicipality.name"
        (ngModelChange)="tdMunicipalities = filterStates(currentMunicipality.name)">
    </md-input-container>

    <a class="btn btn-primary"
      (click)="onClick(currentMunicipality.name)">
      Rechercher
    </a>

    <md-autocomplete #tdAuto="mdAutocomplete">
      <md-option *ngFor="let municipality of tdMunicipalities" [value]="municipality.name">
        <span>{{ municipality.name }}</span>
      </md-option>
    </md-autocomplete>

    <br>
    <div *ngIf="invalidName" style="display: inline-block">
      <p class="alert alert-danger">{{message}}</p>
    </div>
  </div>
</div>

