<div class="container-fluid text-center">
  <div style="padding-top: 100px; padding-bottom: 50px">
    <h1>
      <span>Retrouvez votre commune</span>
      <br>
      <span>dans les Archives fédérales suisses</span>
    </h1>
  </div>
  <div>

    <md-input-container *ngIf="true">
      <input
        mdInput placeholder="Commune"
        [mdAutocomplete]="tdAuto"
        [(ngModel)]="currentMunicipality.name"
        (ngModelChange)="tdMunicipalities = filterStates(currentMunicipality.name)">
    </md-input-container>

    <button md-button [disabled]="currentMunicipality.name === null || currentMunicipality.name === ''" (click)="onClick(currentMunicipality.name)">
      Rechercher
    </button>

    <md-autocomplete #tdAuto="mdAutocomplete">
      <md-option *ngFor="let municipality of tdMunicipalities" [value]="municipality.name">
        <span>{{ municipality.name }}</span>
      </md-option>
    </md-autocomplete>


    <div style="margin: 200px"></div>
  </div>
</div>
