<div class="container-fluid text-center">
  <div style="padding-top: 100px; padding-bottom: 50px">
    <h1>
      <span>Retrouvez votre commune</span>
      <br>
      <span>dans les Archives fédérales suisses</span>
    </h1>
  </div>
  <div>
    <form ng-submit="$event.preventDefault()" name="searchForm">

      <md-input-container>
        <input
          mdInput placeholder="Commune"
          [mdAutocomplete]="auto"
          [formControl]="myControl"
          size="60px">
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
        <md-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option.name }}
        </md-option>
      </md-autocomplete>

      <!--<md-input-container>
        <input
          mdInput placeholder="Commune"
          [formControl] = "myControl"
          [mdAutocomplete] = "auto">
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
        <md-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ options.name }}
        </md-option>
      </md-autocomplete>-->

      <button md-raised-button>Afficher</button>

      <div style="margin: 200px">

      </div>
    </form>
  </div>
</div>
